#forward{
  -fx-font-size: 20px;
  -fx-font-weight: BOLD;
  -fx-text-fill: #FFFFFF;
  -fx-background-color: transparent;
  -fx-translate-x: 370;
  -fx-translate-y: 280;
}

#back{
  -fx-font-size: 20px;
  -fx-font-weight: BOLD;
  -fx-text-fill: #FFFFFF;
  -fx-background-color: none;
  -fx-translate-x: -530;
  -fx-translate-y: 280;
}

#exit{
  -fx-font-size: 20px;
  -fx-font-weight: BOLD;
  -fx-text-fill: #FFFFFF;
  -fx-background-color: none;
  -fx-translate-x: 400;
  -fx-translate-y: -285;
}