#0{
    -fx-background-image: url("../../../../res/diary-0.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}
#1{
    -fx-background-image: url("../../../../res/diary-11.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}
#2{
    -fx-background-image: url("../../../../res/diary-12.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}
#3{
    -fx-background-image: url("../../../../res/diary-13.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}
#4{
    -fx-background-image: url("../../../../res/diary-14.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}
#5{
    -fx-background-image: url("../../../../res/diary-15.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}
#6{
    -fx-background-image: url("../../../../res/diary-16.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}
#7{
    -fx-background-image: url("../../../../res/diary-17.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}

